body{
    background-color: black;
    color: white;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding:0;
}

.ct-u-paddingBoth100 {
    padding: 100px 15px;
}

.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}
.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}

.company-sections p {
    margin-top: 20px;
}

.company-sections, .careers-sections, .left-headquarter-section-img, .right-headquarter-section-img {
    text-align: center;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}

.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}

.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}
#product-header-section, .intro-type .container {
    padding: 68px 15px 72px !important;
}
@media (min-width: 1630px) {
    .container {
        width: 1630px;
    }
    .space {
        margin-bottom: 0px !important;
    }
    }

.red-border {
    width: 50%;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    height: 16px;
}

.classsize{
    font-size: 1.2em !important;
    text-align: left;
    padding-left: 20px !important;
}


.classsize2{
    font-size: 1.2em !important;
    text-align: left;
    padding-right: 20px !important;

}

.classwidth{
    width: 50%;
}

.classwidth2{
    padding-left: 51%;
}

.imageleft{
    float: right;
    width: 50%;
}

.imageright{
    float: left;
    width: 50%;
}

.h2center{
    text-align: center !important;
}

.space{
    margin-bottom: 100px;
}